header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.header-options {
    gap: 1.5rem;
    display: flex;
}

.header-name h1 {
    font-size: larger;
    color: rgb(245 245 245);
}

.header-options button {
    border: none;
    background: no-repeat;
    color: rgb(245 245 245);
}

.intro-name h1,
p {
    color: rgb(245 245 245);
}

.position-contact button {
    width: 8rem;
    display: flex;
    padding: 1rem;
    height: 2.7rem;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    transition: all 0.3s ease;
    background-color: #242424;
    color: rgb(245, 245, 245, 245);
    box-shadow: -3px 3px 0 0 #fff;
    border: 1px solid rgb(245, 245, 245, 245);

    &:hover {
        transform: translateX(-0.3rem);
        box-shadow: -0.2px 0.2px 0 0 rgb(245, 245, 245, 245);
    }
}

.header-options-img {
    display: flex;
    flex-direction: column;
}

.header-image img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: -1;
    opacity: 0.6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.header-options {
    gap: 1.5rem;
    display: flex;
}

.header-name h1 {
    font-size: larger;
    color: rgb(245 245 245);
}

.header-options button {
    border: none;
    background: no-repeat;
    color: rgb(245 245 245);
}

.intro-name h1,
p {
    color: rgb(245 245 245);
}

.position-contact button {
    width: 8rem;
    display: flex;
    padding: 1rem;
    height: 2.7rem;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    transition: all 0.3s ease;
    background-color: #242424;
    color: rgb(245, 245, 245, 245);
    box-shadow: -3px 3px 0 0 #fff;
    border: 1px solid rgb(245, 245, 245, 245);

    &:hover {
        transform: translateX(-0.3rem);
        box-shadow: -0.2px 0.2px 0 0 rgb(245, 245, 245, 245);
    }
}

.header-options-img {
    display: flex;
    flex-direction: column;
}

.header-image img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: -1;
    opacity: 0.6;
}